<div class="container">
  <div class="img-logo">
    <img src="assets/Logo@1000x400.png" alt="">
  </div>
  <h2>LOGIN</h2>
  <form formGroup="userForm" class="form-container" (ngSubmit)="login()" >
    <div class="form-group">
      <input type="text" placeholder="Nom d'utilisateur ou email" formControlName="username">
      <input type="password" placeholder="Password" formControlName="password">
    </div>
    <a href="#"><span>Mot de passe oublié?</span></a>
    <button type="submit" >Se connecter</button>
  </form>
</div>
