input, textarea, select, button { font-family:inherit; }


.container {

  display: flex;
  width: fit-content;
  max-width: 90%;
  min-width: 60%;
  justify-content: center;
  margin: auto;
  padding: 5% 0;

}

.avatar {
  display: flex;
  flex-direction: column;
  text-align: center;
}

img {
  max-width: 200px;
}

.avatar .role, .details .name {
  color: black;
  font-weight: 600;
  font-size: 24px;
}

.details .alias {
  color: black;
  font-weight: 600;
}

.details {
  flex-direction: column;
  padding: 5%;
}

.details button {
  width: fit-content;
  padding: 0 10%;
  display: inline-flex;
  align-items: center;
  margin: 5% auto;
  //height: 50px;
  border-radius: 50px;
  border: none;
  background-color: #90C226;
  font-size: 24px;
  font-weight: 800;
  cursor: pointer;
}

.details a {
  color: #58585A;
  display: flex;
  margin-bottom: 5%;
  text-decoration: underline;
}

a {
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .container {
    flex-direction: column;
  }

  .details {
    display: flex;
    align-items: center;
    text-align: center;
  }
}
